form  h3{
    text-align: start;
    font-family:  Oswald,Arial, Helvetica, sans-serif;
    margin:  0;
    color:rgb(58, 55, 55);
    margin-bottom: 20px;
    letter-spacing: 1px;
    font-size: 1.4em;
    font-weight: 200;
}
.formFeedback{
    color:rgb(2, 2, 2);
    font-family: Roboto, Arial, Helvetica, sans-serif;
    padding: 20px 10px;

}
.formFeedback input{
    color:rgb(26, 25, 25);
    outline-color:#38acefc7;
    padding: 10px;
    font-size: 1em;
    background-color: transparent;
    display: block;
    width: 30%;
    margin-bottom: 15px;
    font-family:Arial, Helvetica, sans-serif ;
    outline: none;
    
}
.formFeedback input:focus, .formFeedback textarea:focus{
    border:rgb(15, 15, 15)    solid 0.5px;
}


.formFeedback textarea{
    font-family:Arial, Helvetica, sans-serif;
   font-size: 17px;
   outline: none;
   display: block;
   height: 150px;
   width: 45%;
   padding: 10px;
   color: rgb(14, 13, 13)
}
.formFeedback button{
    height:40px;
    width:70px;
    font-family: Oswald;
    background-color: transparent;
    border-radius: 10px;
    cursor: pointer;
    font-size: 0.9em;
    outline: none;
    color:rgb(0, 0, 0);
    border: solid 0.5px rgb(82, 80, 80) ;
    display: block;
    margin: 20px 0 0 10px ;
    transition: all ease-in-out 100ms;
    font-weight: 200;
}
.formFeedback button:hover{
   background-color: transparent;
   color: rgb(255, 255, 255);
   border: black solid 1px;
   background-color:black

}
.formFeedback label{
    font-weight: 300;
}
.formFeedback input, .formFeedback textarea{
   border-radius: 5px;
   border: rgb(134, 130, 130) solid 1px;
   background-color: rgba(255, 255, 255, 0.507);
}
.errorInput{
    border: rgb(255, 0, 0) solid 1px !important;
}
.spinner{
    margin-left: 10px;
    color:rgb(18, 18, 19) !important;
    margin-top: 15px;
}