
main{
    padding: 30px 0;  
}

.cards{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(2,100px);
    align-items: center;
    justify-content: space-between;
}
.cards div{
    margin: auto;
    height: 80px;
    width: 80px;
    text-align: center;
    border-radius: 7px ;
    color: rgb(239, 239, 241);
    font-size: 17px;
    cursor:pointer !important;
    background-color:darkslategray

    
}


main section h2{
    letter-spacing: 1px;
    text-align: center;
    color:rgba(47, 47, 47, 0.867);
    font-family: Roboto,Arial, Helvetica, sans-serif;
    margin-bottom: 30px ;
    font-size: 1.6em;
    font-weight: 500;

}
main section h2::after{
    content: '';
    display: block;
    height:1px;
    width: 100px;
    margin:1px auto ;
    background: #0009;

}
section.projects h2::after{
    content: '';
    display: block;
    height:1px;
    width: 60px;
    margin:1px auto ;
    background: #0009;
}

.projects{
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 50px 0 70px 0;
}
.projects span{
    font-size: 1em;
    color: #ffffff;
    cursor: pointer;
    text-align: center;   

}
.projects button{
    height:40px;
    width:90px;
    border-radius: 5px;
    outline: none;
    border: solid rgb(195, 195, 195) 1px ;
    margin: auto;
    background-color: transparent;
    transition: linear all 200ms;
}
.cardContainer {
   display: grid;
   grid-template-columns: 300px;
   grid-template-rows: 145px 70px 60px ;
   grid-template-areas: 'image' 'text''button';
   box-shadow: 4px 4px 9px rgba(0, 0, 0, 0.849);
   transition: all linear 500ms;
   border-radius: 10px;
 
   
}
.cardImg{
    background-image: url('../img/project.JPG');
    background-size: contain;
    background-repeat: no-repeat;
    grid-area: image;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
   
}
.cardInfo{
    grid-area: text;
    background-color: rgb(7, 143, 148);
    color: rgb(255, 255, 255);

}

.cardButton{
    grid-area: button;
    background-color: rgb(7, 143, 148);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.cardButton button:hover{
    background-color: rgb(3, 58, 58);
    cursor: pointer;
}
.cardButton a{
    font-size: 15px;
    padding: 15px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    
}




