.about{
    padding: 50px 0;
}

.about h2{
    letter-spacing: 1px;
    color:rgba(47, 47, 47, 0.867);
    text-align: start;
    font-family: Oswald,Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 1.6em;
    font-weight: 500;
    padding: 30px;
}
.about h2::after{
    content: '';
    display: block;
    height:3px;
    width: 100px;
    background-color: rgb(51, 106, 138);
    margin:5px auto ;
}
p{
    color:rgb(78, 68, 68);
    padding:20px;
    font-size: 1.3em;
    font-family: Oswald
}