
*{
    box-sizing: border-box;
    margin:0;
    list-style:none;
    text-decoration: none;
    font-family: Oswald, Roboto,Arial, Helvetica, sans-serif;

}

html{
    scroll-behavior: smooth;
}
body, #root {
    height:100%;
}
@media (orientation: portrait){
    header{
        background-image: url('./components/assets/img/background2.jpg') !important;
    }
}

@media screen and (max-width: 768px){
    .hamburger{
     display:block  !important;
    }
    
    nav{
        display: flex;
        justify-content: space-between;
        z-index: 1 !important;
    }
    nav ul li{
        padding: 10px !important;
    }

    .list{
    display: inline-block !important;
    transition: .5s;
    width:100% !important;
    position: fixed !important;
    left: -100%;
    top:56px;
}
    .active{
       left: 0
    }
    .cards{
        display:grid !important;
        grid-template-columns: repeat(2,1fr) !important;
        grid-template-rows: repeat(4,1fr) !important;
        align-items: center ;
    }
    .cards div{
        margin: 10px auto !important
    }
    .formFeedback ul{
        padding: 0 !important;
    }
    .formFeedback input{
        width: 70% !important;
    }
    .formFeedback button{
        width: 30% !important
        
    }
    .formFeedback textarea{
        width: 80% !important
    }
    
 
 
 
}
@media (min-width: 769px){
    .list{
        display: flex;
        justify-content: space-between;
        transition: none !important;
    }
    .scroll-nav .list{
        background: none !important;
    }
    nav li{
        margin: auto 0
    }
}
@media (min-heig5ht:1000px) and (min-width: 1000px){
  
    footer{
        height: calc(200px - 100%);
    }
    footer h3{
        margin:0
    }
}
@media (max-width:355px){
    #root{
        width:100vw !important
    }
    .formFeedback{
        padding: 0 !important;
    }
    .formFeedback label{
        margin-top: 10px;
    }
    .formFeedback textarea{
      width:90% !important;
      height: 100px !important;
      padding: 5px !important;
      margin: 0 !important;
    }
    .formFeedback input{
        width:60% !important ;
        font-size: 15px !important;
        padding: 5px !important;
        margin: 0 !important;
    }
    .formFeedback input[name='email']{
        width:70% !important;
        padding: 5px !important
    }
    .formFeedback {
        padding: 26px 0!important;
    }
    .formFeedback button{
        height: 30px !important;
        width: 80px !important;
    }
    footer p{
      margin: 0 !important
    }
    .description{
        font-size: 0.8em !important;
    }
  
    .cardContainer{
        grid-template-columns: 250px !important;
        grid-template-rows: 145px 70px 60px !important ;
    }
   .cardImg{
       background-size: cover !important;
   }
}