form  h3, .formContainer h3{
    letter-spacing: $letterSpacing;
    margin-bottom: $marginSubTitle;
    @include fontStyle(medium);
    &::after{
            content: '';
            display: block;
            height:1px;
            width: 60px;
            margin:1px 10px ;
            background: $primaryColor;
    }
}
.formContainer{
    width:100%;
    display: flex;
    align-items: center;
    justify-content: space-around;

    & .networks{
        align-self: start;
        display: flex;
        flex-direction: column;
        margin: 30px auto;
        @include device(md){
            margin:50px 10px;
        }
        & .contacts{
            flex-direction: column;
             & a:hover{
                color:$primaryColor
            }
            & a{
                @include fontStyle(small);
                color:#1155a3;
            }
            & li+ li{
                margin:10px 0;
            }
        
        & ul{
            display: flex;
            margin: 0;
            justify-content: space-around;
            
        }
            & .contact-img{
                color: $primaryColor;
                height: $fontLg;
                width: 30px;
                margin-right: 10px;
                & :hover{
                    color:#1155a3;
                }
            }
        }
    }
    @include device(md){
        flex-direction: column;
        align-items: flex-start;
    }
}

.formFeedback{
    margin: 30px auto ;
    display:flex;
    flex-direction: column;
    @include device(md){
        margin: 0;
        padding:10px;
        width:100%;

    }
}
.formFeedback input{
    padding: 10px;
    width: 400px;
    height:40px;
    margin-bottom: 15px;
    outline: none;
    @include fontStyle(small);
    color: black;
    font-family: 'Roboto',Arial;
    @include device(md){
        width:90%;
    }
    
}
.formFeedback textarea{
   outline: none;
   height: 150px;
   width: 500px;
   padding: 10px;
   @include fontStyle(small);
   color: black;
   font-family: 'Roboto',Arial;
   @include device(md){
   width:100%
}
}

.formFeedback button:hover{
   color: $thirdColor;
   background-color:$primaryColor;

}
.formFeedback label{
    font-weight: 300;
    @include fontStyle(small);
    margin-bottom: 5px;
    
}
.formFeedback input, .formFeedback textarea, .formFeedback button{
   border-radius: 5px;
   border: $primaryColor solid 1px;
   background: $secondaryColor;
}
.formFeedback button{
    @include fontStyle(small);
    height:35px;
    border-radius: 10px;
    width:90px;
    cursor: pointer;
    outline: none;
    border: solid 1px $primaryColor ;
    transition: all ease-in-out 100ms;
    display: inline-block;
    margin-top: 10px;
}

.spinner{
    color:$primaryColor!important;
    margin: 15px
}
.darkForm{
   background: $darkMode;
}
.darkForm h3,.darkForm label,.darkForm .spinner, .darkForm h3::after,.darkForm .contact-img{
    color:$fourthColor!important
}
.darkForm h3::after{
    background: $fourthColor
}

.darkForm .formFeedback input, .darkForm .formFeedback textarea, .darkForm button{
    background: transparent;
    border: solid 2px #1155a3;
    color: $secondaryColor
}
.darkForm .contacts a{
    color: $fourthColor !important
}