@mixin progress($size,$height: 50%){
   border: solid #3274d6 2px; //color
   width:$size;
   height:$height;
   border-radius: 4px;
   transition: 2s width ease;
}
.progress{
    width: 0 !important;
}
section#skills{
    width:950px;
    max-width: 100%;
    @include device (lg-lg){
        width: 100%;
    }
}
main{
    padding: 60px 0;  
        display: flex;
        justify-content: center;
        align-items: center;
          flex-direction: column;
          @include device (lg-lg){
            align-items: flex-start
        }


}

.cards{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    margin-bottom: 50px;
    justify-content: center;
    align-items: center;
    @include device(lg-lg){
        width:100%;
        display:grid !important;
        grid-template-columns: repeat(1,1fr) !important;
        grid-template-rows: repeat(8,1fr) !important;
    }
}

.cards > div{
    margin: 20px;
    @include fontStyle(small);
      
    @include device(md){
     margin: 20px 10px;
    }
  
}

.cards div > div{
    display: flex;
    align-items: center;
    @include progress(300px,10px);
    border: solid black 1px;
    background: transparent;
    @include device(lg-lg){
       width: 100%;

       };
}
.cards > div span{
  font-size: 1.1875em !important;
  margin-right: 5px;
 
}
.cards .html div div{
    content:'';
    @include progress(70%);
    
}
.cards .css  div div{
    content:'';
    @include progress(70%);
    
}
.cards .js div div{
    content:'';
    @include progress(65%);
    
}
.cards .react div div{
    content:'';
    @include progress(59%);
    
}
.cards .bt div div{
    content:'';
    @include progress(65%);
    
}
.cards .mysql div div{
    content:'';
    @include progress(55%);
    
}
.cards .git div div{
    content:'';
    @include progress(50%);
    
}
.cards .node div div{
    content:'';
    @include progress(55%);
    
}
main section h2{
    letter-spacing: $letterSpacing;
    text-align: center;  
    margin-bottom: $marginSubTitle ;
    @include fontStyle(medium);

    
}
main section h2::after{
    content: '';
    display: block;
    height:1px;
    width: 100px;
    margin:1px auto ;
    background: #0009;

}
section.projects h2::after{
    content: '';
    display: block;
    height:1px;
    width: 60px;
    margin:3px auto ;
    background: #0009;
}

.projects{
    width: 950px;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 60px 0;
    @include device(lg-lg){
        text-align: center;
        & h2,.cardContainer{
            margin-left:10px;
            margin-right: 10px;
        }
        
    }

}

.projects div a{
    padding:10px 20px;
    border-radius: 5px;
    margin: auto;
    transition: linear all 100ms;
    @include fontStyle(small);
    text-decoration: none;
    color:  $thirdColor;
    background: $primaryColor;
    
}
.cardContainer {
   position: relative;
   display: grid;
   grid-template-columns: 250px 1fr auto;
   text-decoration: none !important;
   box-shadow: 3px 3px 7px  rgba(0,0,0,0.2);
   border-radius: 10px;
   max-width: 100%;
   background: #fff
   
}
@media (max-width: 600px){
    .cardContainer{
        grid-template-columns: 1fr;
    }
    .cardHeader{
     border-top-right-radius: 10px;
    border-bottom-left-radius: 0 !important; 
    text-align:start;
    padding: 20px 30px !important;
    }
    .cardButton{
        margin-bottom: 20px !important
    }
 
}
.cardContainer + .cardContainer{
   margin-top: 50px
}
.cardHeader{
   position: relative;
    background: $primaryColor;
  font-weight: 300;
  padding:40px 50px ;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;

}

.cardHeader h3{
    @include fontStyle(medium);
    color: $thirdColor;
}
.cardHeader h5{
   
    @include fontStyle(small) ;
    color: $fourthColor;

}


.cardInfo{
    
    text-align: start;
    padding: 20px 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px
    
}
.cardInfo h4{
    
    @include fontStyle(small);
    text-transform: uppercase;
    font-family: 'Roboto';
    color: rgb(107, 107, 107)
   
}
.cardInfo p{
    @include fontStyle(small);
    margin-top:30px;
    font-family: 'Roboto';
    color: rgb(107, 107, 107)
}

.cardButton{
 align-self: end;
 margin-bottom:30px;
 margin-right: 20px;

 }

.darkMain {
    background:$darkMode;
    border:none;
}
.darkMain .cardContainer{
    box-shadow: none;
    & a:hover{
     background: $primaryColor
    }
}
.darkMain h2 {
    color:$fourthColor
}
.darkMain section h2::after {
    background:$fourthColor
}
.darkMain .cards > div {
    color:$fourthColor
}
.darkMain .cards div div {
    border: solid $fourthColor 1px;
    & div {
        border: solid #1155a3 2px !important;
    }
}
