.about{
   padding: 30px 0;
}
.about h2{
    text-align: center;
    padding: 30px 0;
    @include fontStyle(medium);
}
.about h2::after{
    content: '';
    display: block;
    height:1px;
    width: 100px;
    margin:1px auto ;
    background: #0009;
    @include device(md){
        width:70px
    }
}
.section-container{
    max-width: 950px;
    margin: 0 auto;
    display: flex;
    flex-direction:column;
}

.outline-btn{
    padding: 5px 30px ;
    background: $primaryColor;
    border-radius: 5px ;
    @include fontStyle('small');
    color: $thirdColor;
    border: $thirdColor 2px solid;
    margin: 20px auto !important;
    border-radius: 5px
}
.about p{
    padding: 10px;
    @include fontStyle(p);
    @include device(md){
        padding: 20px;
    }
    @include device(lg){
        font-size:20px;
    }
    
}
.darkAbout h2, .darkAbout p {
    color:$fourthColor
}
.darkAbout h2::after{
    background:$fourthColor
}
.darkAbout {
    background:$darkMode
}