
$darkMode:#0D0D0D;
$primaryColor: #1155a3 ;
$secondaryColor: #F2F2F2;
$thirdColor: #fff ;
$fourthColor: #D0D3D9;
$fontColor: rgba(0,0,0,1);
$success:#32CD32 ;

$fontSm: 1.125em;
$fontMd: 1.625em;
$fontLg: 2.25em;
$fontXl: 3em;
$fontP: 1.25em;

$font: 'Oswald',Arial;
$font2: 'Oswald',Arial;
$marginSubTitle: 20px;
$letterSpacing: 1px;

@mixin device($size){
    @if $size == 'sm-sm'{
        @media (max-width:260px){
            @content
        }
     };
    @if $size == 'md'{
        @media screen and (max-width: 768px){
            @content
        }
     };
     @if $size == 'lg'{
        @media (min-width: 769px){
            @content
        }
     };
     @if $size == 'lg-lg'{
        @media (max-width: 1000px){
            @content
        }
     };
     @if $size == 'xl'{
        @media (min-height:1000px) and (min-width: 1000px){
            @content
        }
     }   
   
};
@mixin fontStyle($type){
    font-weight: 300;

    @if $type == 'large'{
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    font-size: $fontLg;
    color: $secondaryColor;
    @include device(md){
        font-size: 1.875em;
    };
    };
    @if $type == 'medium'{
        font-family: 'Oswald', sans-serif;
        font-size: 1.75em;
        color: $fontColor;
        @include device(md){
            font-size: 1.5625em;
        };

    };
    @if $type == 'small'{
        font-family: 'Oswald', sans-serif;
        font-size: $fontSm;
        @include device(md){
            font-size: 1.0625em;
        };
        color: $fontColor;
        line-height: $fontSm * 1.5;

    }
    @if $type == 'p'{
        font-family: 'Arial', sans-serif;
        font-size: $fontP;
        color: $fontColor;
        line-height: $fontP * 1.5;
        
        @include device(md){
            font-size: 1.125em;
        };
    }
}